/* Swap.css */

.swap-page {
  padding: 20px;
}

.swap-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.swap-button {
  padding: 10px 20px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  flex: 1;
  font-size: 16px;
  transition: border-bottom 0.3s;
}

.swap-button.active {
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, #6a00ff, #a835fd) 1;
  font-weight: bold;
}

.swap-content {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}

.swap-section {
  margin-top: 20px;
}

.swap-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sub-tabs .swap-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  flex: 1;
  font-size: 16px;
  transition: border-bottom 0.3s;
}

.sub-tabs .swap-button.active {
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, #6a00ff, #a835fd) 1;
  font-weight: bold;
}

.input-group {
  margin-bottom: 20px;
}

.input-row {
  display: flex;
  align-items: center;
  background: #333;
  border-radius: 8px;
  padding: 10px;
}

.input-select {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}

.input-number {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  width: 100%;
}

.swap-icon {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.swap-icon img {
  width: 24px;
  height: auto;
}

.action-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.segmented-control {
  display: flex;
  background: var(--Dark-Grey, #232336);
  border-radius: 14px;
  max-width: fit-content;
}

.segmented-control > span {
  color: #fff;
  cursor: pointer;
  border-radius: 14px;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  height: 28px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
}

.segmented-control > .active {
  border-radius: 14px;
  border: 0.5px solid rgba(27, 20, 20, 0.04);
  background: var(--Dark-Purple, #6161d6);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04);
}