.slider {
    height: 4px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff; /* White color */
    cursor: pointer;
    border: 2px solid white; /* Blue border */
  }
  
  .slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff; /* White color */
    cursor: pointer;
    border: 2px solid white; /* Blue border */
  }
  

  