/* src/App.css */
.App {
  /* background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh; */
}

.content {
  padding-bottom: 60px; /* space for footer */
}

.header {
  background-color: #000; /* uniform black background */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #000; /* uniform black background */
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    background-color: #000;
    color: #fff;
}

body {
    margin: 0;
    background-color: rgba(236, 240, 245, 0.92);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    box-sizing: border-box;
}
